:root {
  --padValue: 20px;
  --gapValue: 20px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  max-width: 1200px;
}

body {
  display: flex;
  flex-direction: column;
  gap: var(--gapValue);
}
@media (max-width: 768px) {
  body {
    background-color: lightgreen;
  }
}
@media (max-width: 576px) {
  body {
    background-color: lightblue;
  }
}

.bacCol {
  background-color: black;
}

/** Header */

header {
  display: flex;
  flex-direction: column;
  gap: var(--gapValue);
  padding: var(--padValue);
}
header div {
  padding: var(--padValue);
}

#navBar {
  display: flex;
  justify-content: space-between;
  gap: var(--padValue);
  background-color: #2c4059;
}
@media (max-width: 768px) {
  #navBar {
    flex-direction: column;
  }
}
.navBarContent {
  background-color: #ea5455;
}
.logo {
  flex: 1;
  transition: all 0.25s;
  cursor: pointer;
}
.logo:hover {
  transform: scale(1.2);
  background-color: #ff1493;
}
.nav {
  flex: 3;
}
.social {
  flex: 1;
}

.bannerDiv {
  background-color: #ff8b00;
}
.banner {
  background-color: #fed700;
  font-size: xx-large;
  font-weight: bold;
}

/** Content */

#content {
  display: flex;
  gap: var(--gapValue);
  padding: var(--padValue);
}
@media (max-width: 768px) {
  #content {
    flex-direction: column;
  }
}

#contentMain {
  background-color: #4e4e6a;
  display: grid;
  grid: auto-flow / 1fr 1fr;
  padding: var(--padValue);
  gap: var(--gapValue);
  flex: 4;
}
@media (max-width: 576px) {
  #contentMain div {
    grid-column: span 2;
  }
}
#contentMain div {
  padding: var(--padValue);
}

.article {
  background-color: #1f6cb0;
}
.navegacion {
  background-color: #71a3c4;
  grid-column: span 2;
}

#contentSide {
  background-color: #f63f51;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: calc(var(--gapValue) / 2);
  padding: var(--padValue);
}
#contentSide div {
  padding: var(--padValue);
}
.publicidad {
  background-color: #fed700;
}

/** Footer */

footer {
  padding: var(--padValue);
}
footer div {
  padding: var(--padValue);
}

.pie {
  background-color: #f0e78c;
}
